body {
    margin: 0;
    padding: 0;
    min-width: 768px;
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {    
    padding: 0;

    font: inherit;
    color: inherit;
    
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 768px;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header {
    position: relative;

    padding-left: 6%;
    padding-right: 6%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header .logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);
}

.main-header .main-navigation {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main-navigation li {
    width: 23%;

    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.main-navigation li:nth-child(3) {
    margin-left: auto;
    text-align: right;
}

.main-navigation li:nth-child(4) {
    text-align: right;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation a.active {
    color: #766357;
}

.intro {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    height: 510px;

    background-color: #dc5e48;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.city-sights {
    padding-top: 56px;
}

.city-sights h2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.city-sights > p {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    line-height: 26px;
    text-align: center;
}

.sight-1,
.sight-2 {
    display: flex;
    width: 100%;
}

.sight-description {
    box-sizing: border-box;
    width: 33%;
    padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 4%;
    padding-right: 4%;

    background-color: #81b3d2;
}

.sight-description.minor {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    
    background-color: #eeeeee;
}

.sight-description .sight-description-title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.sight-description .sight-description-title.minor {
    color: #000000;
}

.sight-description p {
    margin: 0;
    padding: 0;

    color: #ffffff;
    text-align: center;
}

.sight-description.minor p {
    color: #333333;
}

.sight-description-title + p {
    margin-bottom: 20px;
}

.sight-photo-block {
    width: 67%;

    background-image: url("../img/photo-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sight-2 .sight-photo-block {
    background-image: url("../img/photo-2.jpg");
}

.minor-sight-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: #eeeeee;
}

.sight-3,
.sight-4,
.sight-5 {
    width: 33%;
}

.advice-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.advice-list .advice-item {
    box-sizing: border-box;
    width: 33%;
    padding: 163px 4.6% 68px;

    text-align: center;
}

.advice-item .advice-title {
    position: relative;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.advice-list .advice-title::before {
    content: "";

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    background-position: 0 0;
    background-repeat: no-repeat;
}

.advice-title-1::before {
    width: 75px;
    height: 72px;

    background-image: url("../img/icon-1.svg");
}

.advice-title-2::before {
    width: 74px;
    height: 70px;

    background-image: url("../img/icon-3.svg");
}

.advice-title-3::before {
    width: 64px;
    height: 76px;

    background-image: url("../img/icon-2.svg");
}

.advice-title + p {
    padding: 0;
}

.booking {
    padding-top: 55px;

    text-align: center;
}

.booking .booking-title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.booking-title + p {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;

    font-size: 14px;
    line-height: 24px;
}

.hotel-search {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-search-title {
    box-sizing: border-box;
    padding: 30px 30px;
    width: 568px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.hotel-search-form-wrapper {
    position: absolute;
    top: 86px;

    box-sizing: border-box;
    padding: 55px;
    width: 568px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.arrival-wrapper,
.departure-wrapper,
.guests-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.hotel-search-form label {
    width: 112px;

    text-align-last: left;
}

.hotel-search-form input {
    padding: 6px 40px 6px 12px;

    font: inherit;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.arrival-wrapper input,
.departure-wrapper input {
    flex-grow: 1;
}

.guests-wrapper {
    margin-bottom: 54px;
}

.guests-wrapper input {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 6px 30px;
    width: 114px;

    text-align: center;
}

.guests-wrapper label:last-of-type {
    box-sizing: border-box;
    padding-left: 53px;
}

.hotel-search-form .button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 16px 30px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #81b3d2;
}

.cal {
    content: "";

    position: absolute;
    top: 8px;
    right: 9px;

    width: 21px;
    height: 22px;

    background-image: url("../img/calendar.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.3;
}